<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="m-80">
                <p>Welcome to AyurDaily.</p>
                <p>AyurDaily is an organic beauty product brand focusing on producing chemical free beauty products!</p>
                <p>There are various products that can be traded. Please visit the Trade Beauty section.</p>
                <p>Look-n-feel Natural!</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
